*{
	margin:0;
	padding:0;
	font-family: "verdana",sans-serif;
	font-size: 18pt;
	font-style: normal;
	

	
}
body{
	background:  url(papaer-bckground.jpg) ;
	opacity: 100%;
	
}

.my-resume
{
	margin-top:8%;
	border: 3px solid#dcdcdc ;
	width: 70%;
	margin-top: 15;
	margin-left: 15%;
	text-align: center;
	
	
}

.about-me
{
	border: 1px solid#dcdcdc ;
	width: 70%;
	margin-left: 15%;
	text-align: left;
	
}
.perso
{
	
	border: 1px solid#dcdcdc ;
	width: 70%;
	margin-left: 15%;
	text-align: left;
}
.pi
{
	border: 1px solid#dcdcdc ;
	width: 70%;
	margin-left: 15%;
	background-color: white;
	text-align: left;
}
.cat
{
	float: right;
	margin-right: 20%;
	margin-top: 15px;
	

}
.pf
{
	border: 1px solid#dcdcdc ;
	width: 70%;
	margin-left: 15%;
	text-align: left;
	background-color: white;
}
.fambck
{
	 
	border: 1px solid#dcdcdc ;
	width: 70%;
	margin-left: 15%;
	text-align: left;
}
.fb
{
	border: 1px solid#dcdcdc ;
	width: 70%;
	margin-left: 15%;
	text-align: left;
	background-color: white;
}
.edubck
{
	border: 1px solid#dcdcdc ;
	width: 70%;
	margin-left: 15%;
	text-align: left;
}
.bi
{
	border: 1px solid#dcdcdc ;
	width: 70%;
	margin-left: 15%;
	text-align: left;
	background-color: white;
}
.ab{
	
	border: 1px solid#dcdcdc ;
	width: 70%;
	margin-left: 15%;
	text-align: auto;
	background-color: white;
}
footer
{ 

}